<nav id="theMenu" class="menu">

    <!--MENU-->
    <div id="menu-options" class="menu-wrap">

        <!--PERSONAL LOGO-->
        <div class="logo-flat">
            <img alt="personal-logo" class="img-responsive" src="/images/profile/herve-beraud.png">
        </div>
        <br>

        <!--OPTIONS-->
        <a href="/index.html"><i class="title-icon fa fa-user"></i>Home</a>
        <a href="/about.html"><i class="title-icon fa fa-dashboard"></i>About</a>
        <a target="_blank" href="/bookmarks"><i class="title-icon fa fa-bookmark"></i>Bookmarks</a>
        <a target="_blank" href="https://medium.com/@herveberaud.pro"><i class="title-icon fa fa-pencil"></i>Articles</a>
        <a target="_blank" href="/notes"><i class="title-icon fa fa-pencil"></i>Notes</a>
        <a href="https://twitter.com/4383hberaud" target="_blank"><i class="fa fa-twitter"></i>Twitter</a>
        <a href="https://github.com/4383/english-curriculum-vitae/raw/master/cv.pdf"><i class="title-icon fa fa-download"></i>Download CV</a>
        <a href="https://github.com/4383" target="_blank"><i class="fa fa-github"></i>Github</a>
        <a href="https://gitlab.com/herveberaud" target="_blank"><i class="fa fa-gitlab"></i>Gitlab</a>
        <a href="https://bitbucket.org/hberaud/" target="_blank"><i class="fa fa-bitbucket"></i>Bitbucket</a>
        <a href="https://www.linkedin.com/in/herv%C3%A9-beraud-a5ba55165/" target="_blank"><i class="fa fa-linkedin"></i>Linkedin</a>
        <a href="https://www.geogebra.org/u/hberaud" target="_blank"><i class="fa fa-calculator"></i>GeoGebra</a>
        <a href="https://keybase.io/4383" target="_blank"><i class="fa fa-key"></i>Keybase</a>
        <a href="https://fr.wikipedia.org/wiki/Utilisateur:Hberaud" target="_blank"><i class="fa fa-wikipedia-w"></i>Wikipedia</a>
    </div>

    <!-- MENU BUTTON -->
    <div id="menuToggle">
        <div class="toggle-normal">
            <i class="material-icons top-bar">remove</i>
            <i class="material-icons middle-bar">remove</i>
            <i class="material-icons bottom-bar">remove</i>
        </div>
    </div>
</nav>

