.main-video {
  background-position: center center;
  background-size: cover;
  left: 0;
  max-height: 100px;
  min-width: 100%;
  top: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-gameoflife {
  position:relative;
  display:block;
  width:100%;
  height:370px;
  background:url(../images/backgrounds/gameoflife.gif);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
.infos .p {
    text-align: left;
    font-size: 1.2em;
    text-align: justify;
}
