<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include loader.html %}
<!--==========================================
                    HEADER
===========================================-->
<header id="home">
    {% include menu.html %}
    <!--HEADER BACKGROUND-->
    <div class="header-background section"></div>
</header>


<!--==========================================
                   V-CARD
===========================================-->
<div id="v-card-holder" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- V-CARD -->
                <div id="v-card" class="card">

                    <!-- PROFILE PICTURE -->
                    <div id="profile" class="right">
                        <img alt="profile-image" class="img-responsive" src="images/profile/profile.png">
                        <div class="slant"></div>
                    </div>
                    <div class="card-content">
                        <!-- NAME & STATUS -->
                        <div class="info-headings">
                            <h4 class="text-uppercase left">Hervé Beraud</h4>
                            <h6 class="text-capitalize left">FOSS Hacker at Red Hat / Python Senior Software Engineer</h6>
                        </div>
                        <!-- CONTACT INFO -->
                        <div class="infos">
                            <p style="text-align:justify;">
                                Discover, experiment, hack, automatize, industrialize, repeat... IRL Passionate!<br>
                            </p>
                            <p></p>
                            <p style="text-align:justify;">
                                Welcome to my website! I’m Hervé a FOSS hacker at Red Hat and Python senior software engineer with over 8 years of experience.<br>
                                I'm a science lover, physic, mathematics, psychology, biology, etc...<br>
                                On this website you can found <a href="about.html">more informations about me</a> 
                                and <a href="https://github.com/4383/english-curriculum-vitae/raw/master/cv.pdf">download my CV</a>.
                            </p>
                        </div>
                        <div class="links">
                            <!-- Github-->
                            <a href="https://github.com/4383" class="social  btn-floating black darken-3"><i
                                    class="fa fa-github fa-2x"></i></a>
                            <!-- TWITTER-->
                            <a href="https://twitter.com/4383hberaud" class="social  btn-floating blue"><i
                                    class="fa fa-twitter fa-2x"></i></a>
                            <!-- RSS-->
                            <a href="/feed.xml" class="social  btn-floating orange darken-3"><i
                                    class="fa fa-rss fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==========================================
        Posts
===========================================-->
<section id="posts" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="images/icons/book.png" alt="demo">Posts</h4>
        </div>

        <div id="timeline-education">
            {% for post in site.posts %}
            <!-- FIRST TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>P</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title"><a href="{{ post.url }}">{{ post.title }}</a></h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>{{ post.date | date_to_xmlschema }}</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p><br></p>
                        <p><br></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!--==========================================
                     SCROLL TO TOP
===========================================-->
<div id="scroll-top">
    <div id="scrollup"><i class="fa fa-angle-up"></i></div>
</div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
