<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include loader.html %}
<!--==========================================
                    HEADER
===========================================-->
<header id="home">
    {% include menu.html %}
    <!--HEADER BACKGROUND-->
    <div class="header-background section"></div>
</header>


<!--==========================================
                   V-CARD
===========================================-->
<div id="v-card-holder" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- V-CARD -->
                <div id="v-card" class="card">

                    <!-- PROFILE PICTURE -->
                    <div id="profile" class="right">
                        <img alt="profile-image" class="img-responsive" src="images/profile/profile.png">
                        <div class="slant"></div>
                    </div>
                    <div class="card-content">
                        <!-- NAME & STATUS -->
                        <div class="info-headings">
                            <h4 class="text-uppercase left">Hervé Beraud</h4>
                            <h6 class="text-capitalize left">FOSS Hacker / DevOps Architect</h6>
                        </div>
                        <!-- CONTACT INFO -->
                        <div class="infos">
                            <p style="text-align:justify;">
                                Welcome to my website! I’m Hervé a FOSS hacker & DevOps Architect with over 8 years of experience.
                                On this website you can found <a href="about.html">more informations about</a>
 me and <a href="https://github.com/4383/english-curriculum-vitae/raw/master/cv.pdf">download my CV</a>
.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--==========================================
                     SCROLL TO TOP
===========================================-->
<div id="scroll-top">
    <div id="scrollup"><i class="fa fa-angle-up"></i></div>
</div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
