<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include loader.html %}
<!--==========================================
                    HEADER
===========================================-->
<header id="home">
    {% include menu.html %}
    <!--HEADER BACKGROUND-->
    <div class="header-background section"></div>
</header>

<div id="about" class="section">
     <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- DETAILS -->
                <div id="about-card" class="card">
                    <div class="card-content">
                      <h2>{{ post.title }}</h2>
                    <!-- ABOUT PARAGRAPH -->
                    {{ content }}
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>

<!--==========================================
                     SCROLL TO TOP
===========================================-->
<div id="scroll-top">
    <div id="scrollup"><i class="fa fa-angle-up"></i></div>
</div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
